.dropdown-div {
    background: var(--grey);
    padding: 3px;
    border-radius: 4px;
    // padding: 10px 30px;
    // display: flex;
    // flex-direction: column;
    // justify-content: start;
}

.dropdown-item {
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-size: .9rem;

    &:hover {
        background: var(--dark-grey);
    }
}